{% extends 'base.html' %} {% block body %}

<main class="container mt-3">
    <h1 class="display-5 mt-4">Летим из {{dep_city}}</h1>

    <p class="mb-4">Найдено {{ tours|length }} туров, от {{ price_tours | min | beautiful_price }} ₽ до {{ price_tours | max | beautiful_price }} ₽ и от {{ nights_tours | min }} ночей до {{ nights_tours | max }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">

        {% for value in tours %}

        <div class="col-4">
            <div class="card mb-4">
                <div class="embed-responsive embed-responsive-16by9">
                    <a href="/tours/{{ value.id }}/">
                        <img class="card-img-top embed-responsive-item" src="{{ value.picture }}" alt="" />
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-12">
                            <a href="/tours/{{ value.id }}/" class="h6 card-title">
              {{ value.country }}: {{ value.title }}
                </a>
                        </div>

                    </div>
                    <p class="card-text" style="text-align: justify; padding-top: 5px; font-size: 14px">{{ value.description | truncate(140) }}</p>
                    <p class="text" style="font-size: 14px;">
                        <span style="border: 1px solid #000000;padding:3px;">{{ value.date }}</span>
                        <span style="border: 1px solid #000000;padding:3px;">{{ value.nights }} ночей</span>
                        <span style="border: 1px solid #000000;padding:3px;">{{ value.price | beautiful_price}} ₽</span>
                        <span style="border: 1px solid #000000;padding:3px;">{{ value.stars }}★</span></p>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
    </div>
    </div>
</main>

{% endblock %}